.main{
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    background-image: url("../images/BG.png") ;
    position: absolute;
    z-index: -2;
}

.btn :hover{
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 8rem;
    margin-bottom: 3rem !important;
}

.column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.baseConatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
