.MainPassword {
    background-image: url("../images/BG.png");
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.forgotPasswordConatiner {
    height: 40rem;
    width: 80%;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footerPass {
    margin-top: 1rem !important;
    height: 7rem;
    width: 100%;
    background-color: black;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotoFGP {
    width: 25rem;
}

.fotoFGPD{
    width: 30rem;
    border-radius: 30px;
}

.FGPForm {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.spanFGP{
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    color: #565656;
    font-size: 18px;
    font-family: basic;
}

.FGPBottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.inserirFGP{
    padding: 20px !important;
    background-color: black;
    color: white;
    font-family: semibold;
    border: none;
    border-radius: 10px;
    width: 12rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}